<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <style type="text/css">
        a { text-decoration: none; }
        a:hover { text-decoration: underline; }  
     </style>
</head>

<body>
    <div class="text-center">
        <h1 class="text1"> WESTERN UNION EMPLOYEES LIST </h1>
    </div>
    <div class="d-flex">
        <div class="add" style="margin-left: 50px;">
            <h3><a th:href="@{'/addEmployee'}"><button type="button" class="btn btn-primary add mt-3">
                <img id="addicon" style="margin-right: 6px; margin-bottom: 2px;" th:src="@{/images/empaddpic.png}">ADD
                        EMPLOYEE</button></a></h3>
        </div>
        <div class="search">
            <form class="form-inline d-flex" th:action="@{/searchEmployee}" method="get"
                style="margin-left: 660px; margin-top:15px" ;>
                <input class="form-control  mr-sm-2" id="searchInput" type="text" name="keyword" th:value="${keyword}"
                    placeholder="Search" size="20">
                <button class="btn btn-outline-success  ms-2" id="searchbarbutton" type="submit">Search</button>
            </form>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table table-bordered mt-1 ms-2 me-2">
                    <thead class="thead-dark text-center">
                        <tr>
                            <th scope="col=1">S NO</th>
                            <th scope="col=2">EMPLOYEE ID</th>
                            <th scope="col=2">FIRST NAME</th>
                            <th scope="col=2">LAST NAME</th>
                            <th scope="col=2">SALARY</th>
                            <th scope="col=1">SALARY HIKE</th>
                            <th scope="col=1">EDIT</th>
                            <th scope="col=1">DELETE</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr scope="row" th:each="employee : ${employees}">
                            <td scope="col=1" th:text="${employee.sno}">SNO</td>
                            <td scope="col=2" th:text="${employee.employeeid}">Employee Id</td>
                            <td scope="col=2" th:text="${employee.firstname}">First Name</td>
                            <td scope="col=2" th:text="${employee.lastname}">Last Name</td>
                            <td scope="col=2" th:text="${employee.salary}">Salary</td>
                            <td scope="col=1" th:text="${employee.salaryhike}">Salary Hike</td>
                            <td scope="col=1"><a th:href="@{'/editEmployee/' + ${employee.sno}}"><button type="button"
                                        class="btn btn-primary"> EDIT </button></a></td>
                            <!-- <td scope="col=1"><a th:href="@{'/delete/' + ${employee.sno}}"><button type="button"
                                            class="btn btn-danger"> Delete </button></a></td> -->
                            <td scope="col=1">
                                <form  id="deletesubmit" th:action="@{'/deleteEmployee/' + ${employee.sno}}">
                                    <button type="button" id="delete" onclick="deleterecord(event)"
                                        class="btn btn-danger">Delete</button>
                                </form>
                                <!-- <a th:="@{'/delete/' + ${employee.sno}}"></a></td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="pages d-flex justify-content-between">
        <div>
            <nav aria-label="Page navigation example" th:if="${page}">

                <ul class="pagination">
                    <li class="page-item"><a class="page-link" th:href="@{'/EmployeesByPages/' + ${page-1}+ '/6'}">Previous</a></li>
                    <li class="page-item"><a class="page-link" th:href="@{'/EmployeesByPages/' + ${page+1}+ '/6'}">Next</a></li>
                </ul>
            </nav>
            <nav aria-label="Page navigation example" th:unless="${page}">

                <ul class="pagination">
                    <li class="page-item"><a class="page-link" th:href="@{'/EmployeesByPages/0/6'}">Previous</a></li>
                    <li class="page-item"><a class="page-link" th:href="@{'/EmployeesByPages/1/6'}">Next</a></li>
                </ul>
            </nav>
        </div>
        <div class="link" style="margin-right:108px;margin-top: 10px;">
            <footer class="text-end">
                <p class="text-muted "><a class="gottoultimatixpage" th:href="@{'/'}">Got to Ultimatix page</a></p>
            </footer>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.13.1/datatables.min.js"></script>
    <script>
        function deleterecord(event) {
            debugger;
            if (confirm("Press a button!") != true) {
                event.preventDefault();
            }
            else{
                document.getElementById("deletesubmit").submit();
            }
        }
    </script>
</body>

</html>