.form-control {
    border-radius: 0.675rem !important;
}

.btn .btn-info .btnc {
    width: 100% !important;
    background-color:  var(--bs-primary-text)!important;
}
.car{
    --bs-card-box-shadow: 23px;
}
body{
 background-color: var(--bs-primary-text)!important; 
}
.btn-info {
    --bs-btn-color: #f1ebeb!important; 
    --bs-btn-bg: #0a58ca!important; 
    --bs-btn-hover-bg: #dde5e7!important; 
}
.text2{
    margin-right: 60px;
}
.back{
    margin-right: 90px;
}