.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: rgb(238, 238, 238)!important;
}
body{
    margin-left: 40px;
    margin-right: 40px;

}
.container{
    margin-left: 400px;
}
.box{
    margin-top: 300px;
}
